<a href="https://colab.research.google.com/github/Gamearonx/Python-Basic/blob/main/PYTHON_PROGRAMMING_BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1: Basic Print and Input Operations

In [4]:
# Printing a message
print("Hello, welcome to Python programming!")

name = input("Enter your name: ")
print("Hello,", name)

Hello, welcome to Python programming!
Enter your name: James Bonda
Hello, James Bonda

## 2: Assigning Values to Variables

In [5]:
x = 10  # Integer
y = 3.14  # Float
z = "Python"  # String
print(x, y, z)

10 3.14 Python

# 3: List Operations

In [6]:
# Creating a list
numbers = [1, 2, 3, 4, 5]

# Append an element
numbers.append(6)

# Remove an element
numbers.remove(3)

# Pop an element (removes last by default)
numbers.pop()

# Slicing a list
sublist = numbers[1:4]

print("Updated list:", numbers)
print("Sliced list:", sublist)

Updated list: [1, 2, 4, 5]
Sliced list: [2, 4, 5]

In [7]:
for num in numbers:
    print(num)

1
2
4
5

## 4: Tuple Operations

In [8]:
# Creating a tuple
my_tuple = (10, 20, 30)

# Accessing elements
print(my_tuple[1])

20

In [9]:
a, b, c = my_tuple
print(a, b, c)

10 20 30

## 5: Dictionary Operations

# 5.1 creating Dictionary

In [10]:
student_marks = {"Alice": 85, "Bob": 90, "Charlie": 78}

# Accessing values
print(student_marks["Alice"])

85

# 5.2 Adding, Updating, and Deleting**

In [11]:
student_marks["David"] = 88  # Adding
student_marks["Alice"] = 95  # Updating
del student_marks["Charlie"]  # Deleting

print(student_marks)

{'Alice': 95, 'Bob': 90, 'David': 88}

In [12]:
for name, marks in student_marks.items():
    print(name, "scored", marks)

Alice scored 95
Bob scored 90
David scored 88

# 6: Set Operations

# 6.1: Creating a Set

In [14]:
my_set = {1, 2, 3, 4, 5}

# 6.2 Performing Union, Intersection, and Difference

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

# 7: Conditional Statements

In [21]:
num = int(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 10
Positive number

# 8: Looping Constructs

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

# 8.2 Breaking Loop

In [25]:
for i in range(10):
    if i == 5:
        break  # Exits loop when i is 5
    print(i)

for i in range(10):
    if i == 5:
        continue  # Skips 5
    print(i)

0
1
2
3
4
0
1
2
3
4
6
7
8
9

# 9: Problem-Solving Tasks

# 9.1 Find the Largest Number in a List

In [26]:
def find_largest(lst):
    return max(lst)

numbers = [10, 20, 5, 30, 25]
print("Largest number:", find_largest(numbers))

Largest number: 30

# 9.2 Count Frequency of Elements in a List

In [27]:
def count_frequency(lst):
    freq = {}
    for num in lst:
        freq[num] = freq.get(num, 0) + 1
    return freq

numbers = [1, 2, 2, 3, 3, 3, 4]
print("Frequency:", count_frequency(numbers))

Frequency: {1: 1, 2: 2, 3: 3, 4: 1}

# 9.3 Find the Student with the Highest Marks

In [28]:
def top_student(marks_dict):
    return max(marks_dict, key=marks_dict.get)

students = {"Alice": 85, "Bob": 90, "Charlie": 78}
print("Top student:", top_student(students))

Top student: Bob

# 9.4 Print Fibonacci Series up to a Given Number

In [29]:
def fibonacci(n):
    a, b = 0, 1
    while a <= n:
        print(a, end=" ")
        a, b = b, a + b

fibonacci(50)

0 1 1 2 3 5 8 13 21 34

# 9.5 Remove Duplicates from a List Using a Set

In [30]:
def remove_duplicates(lst):
    return list(set(lst))

numbers = [1, 2, 2, 3, 3, 4, 5]
print("Without duplicates:", remove_duplicates(numbers))

Without duplicates: [1, 2, 3, 4, 5]